.home {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tittle {
    font-weight: 900;
    font-style: italic;
    color: #fff;
    margin-right: 100px;
}
h1 {
    text-align: center;
}
.buttons {
    gap: 10px;
    margin-top: 20px;
    margin-right: 100px;
}
