.pub-galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
    grid-auto-flow: row;
}
.card-g {
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
}
.flex-container {
    display: flex;
    width: 95vw;
    height: 70vh;
    justify-content: center;
    gap: 30px;
}
